module.exports = {
    ai_system_instruction: 'You are a helpful assistant',
    channel_ids: ["1081033649077633095", "1066470056927690803"],
    max_message_length: 400,
    max_tokens: 100,
    max_history: 3,
    assistant_name: "Helpful Assistant",
    assistant_history: true,
    error_msg: "Error"
};